<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>PLP: PlayLearnPass</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div style="width: 1900px; height: 75px; background-color: blue">
		<h1 style="color: white; text-align: center; font-family: Arial"
			th:text="'PLP'"></h1>
		<p style="color: white; text-align: center; font-family: Arial"
			th:text="'Play, Learn, Pass'" />
	</div>
	<h2>Dateiupload </h2>

	

		
	
	<form method="POST" commandName="file" enctype="multipart/form-data">

		Upload your file please:
		<input type="file" name="file" />
		<input type="submit" value="upload" />
		<form:errors path="file" cssStyle="color: #ff0000;" />
		</form>
		
		<b>fileuploadtest.pdf</b>&nbsp;
		<a href="filedownload" class="button">Download</a>
		
		<form role="form" action="#" th:action="@{/filedownload}"
								th:object="${dateiname}" method="post" class="login-form">
								<div class="form-group">

									<input th:field="*{string}" type="text"
										placeholder="Dateiname" class="form-control"
										id="form-username" />
								</div>
								<div class="form-group">
									>
								</div>
								<button name="action" type="submit" value="Einloggen"
									class="btn">Download</button>
							</form>
		


		
	



</body>
</html>