<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Freundesliste</title>

<!-- CSS -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
<link rel="stylesheet"
	href="resource/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="resource/assets/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="resource/assets/css/form-elements.css" />
<link rel="stylesheet" href="resource/assets/css/style.css" />


<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="resource/assets/ico/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="resource/assets/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="resource/assets/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="resource/assets/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="resource/assets/ico/apple-touch-icon-57-precomposed.png" />


</head>
<body>
	<div class="up-bar">
		<h2 class="text-left name-color">
			<strong>PLP</strong>
		</h2>
		<div class="table-position1 ">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4">
						<input type="search" id="search" value="" class="form-control"
							placeholder="Suchen" />
					</div>
				</div>
				<div class="row table-itself">
					<div class="col-lg-12">
						<table class="table" id="table">
							<thead>
								<tr>
									<th class="thead-color font-weight1">Vorname</th>
									<th class="thead-color font-weight1">Nachname</th>
									<th class="thead-color font-weight1">Benutzername</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Benjamin</td>
									<td>Schmid</td>
									<td>BenjoMahenjo</td>
								</tr>
								<tr>
									<td>Patrick</td>
									<td>Schmelzle</td>
									<td>per1994</td>
								</tr>
								<tr>
									<td>Pascal</td>
									<td>Maichl</td>
									<td>TennisGigant</td>
								</tr>
								<tr>
									<td>Leo</td>
									<td>Grad</td>
									<td>KingLeo</td>
								</tr>
								<tr>
									<td>S&uuml;kr&uuml;</td>
									<td>Sever</td>
									<td>AliasGod</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- Javascript -->
	<script src="resource/assets/js/jquery-1.11.1.min.js"></script>
	<script src="resource/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="resource/assets/js/jquery.backstretch.min.js"></script>
	<script src="resource/assets/js/scripts.js"></script>
	<script src="resource/dist/freundesliste.js"></script>
	<script src="resource/dist/jquery.js"></script>
	<script src="resource/dist/jquery.searchable.js"></script>

	<!--[if lt IE 10]>
            <script src="resource/assets/js/placeholder.js"></script>
        <![endif]-->
</body>
</html>