<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="resource/bootstrap/css/bootstrap.css" rel="stylesheet"
	type="text/css"></link>
<title>PLP:PlayLearnPass</title>


</head>
<body>
	<div style="width: 1900px; height: 75px; background-color: blue">
		<h1 style="color: white; text-align: center; font-family: Arial"
			th:text="'PLP'"></h1>
		<p style="color: white; text-align: center; font-family: Arial"
			th:text="'Play, Learn, Pass'" />
	</div>
	
	<p th:text=" ${message.inhalt} + '!'" />

	
	
	
	<form action="#" th:action="@{/home}" th:object="${benutzer}" method="post">
	
	
	<p>Benutzername: <input type="text" th:field="*{benutzerName}" /></p>
        <p>Passwort: <input type="password" th:field="*{passwort}" /></p>
        <p><input type="submit" value="Einloggen" /> </p>

		
	</form>



</body>
</html>