<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>PLP</title>

<!-- CSS -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
<link rel="stylesheet"
	href="resource/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="resource/assets/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="resource/assets/css/form-elements.css" />
<link rel="stylesheet" href="resource/assets/css/style.css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="resource/assets/ico/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="resource/assets/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="resource/assets/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="resource/assets/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="resource/assets/ico/apple-touch-icon-57-precomposed.png" />


</head>

<body>

	<!-- Top content -->
	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 text">
						<h1>
							<strong>Play, Learn, Pass</strong>
						</h1>
						<h3 id="h3-color-1stpage">Willkommen bei PLP, deiner
							SocialLearningPlattform</h3>
					</div>
				</div>
				<div class="LogIn-Position">
					<div class="col-sm-6 col-sm-offset-3 form-box">
						<div class="form-top">
							<div class="form-top-left">
								<h3>Login</h3>
								<p th:text=" ${message}" />
							</div>
							<div class="form-top-right">
								<i class="fa fa-key"></i>
							</div>
						</div>
						<div class="form-bottom">
							<form role="form" action="#" th:action="@{/anmelden}"
								th:object="${benutzer}" method="post" class="login-form">
								<div class="form-group">

									<input th:field="*{benutzerName}" type="text"
										placeholder="Benutzername" class="form-control"
										id="form-username" />
								</div>
								<div class="form-group">
									<input th:field="*{passwort}" type="password"
										placeholder="Passwort" class="form-control" />
								</div>
								<button name="action" type="submit" value="Einloggen"
									class="btn">Anmelden</button>
							</form>
						</div>
					</div>
				</div>
				<div class="Register-Position">
					<div class="col-sm-6 col-sm-offset-3 form-box">
						<div class="form-top">
							<div class="form-top-left">
								<h3>Registrieren</h3>
								<p th:text=" ${message1}" />
							</div>
						</div>
						<div class="form-bottom">
							<form role="form" action="#" th:action="@{/registrieren}"
								method="post" class="login-form">
								<div class="row">
									<div class="form-group col-xs-6">
										<input th:field="*{benutzer.vorname}" type="text"
											placeholder="Vorname" class="form-username form-control" />
									</div>
									<div class="form-group col-xs-6">
										<input th:field="*{benutzer.nachname}" type="text"
											placeholder="Nachname" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<input th:field="*{benutzer.benutzerName}" type="text"
										placeholder="Benutzername" class="form-control" />
								</div>
								<div class="form-group">
									<input th:field="*{benutzer.studiengang.name}" type="text"
										placeholder="Studiengang" class="form-control" />
								</div>
								<div class="row">
									<div class="form-group col-xs-4">
										<input th:field="*{geburtsdatum.tag}" type="text"
											class="form-control" placeholder="Tag" />
									</div>
									<div class="form-group col-xs-4">
										<input th:field="*{geburtsdatum.monat}" type="text"
											class="form-control" placeholder="Monat" />
									</div>
									<div class="form-group col-xs-4">
										<input th:field="*{geburtsdatum.jahr}" type="text"
											class="form-control" placeholder="Jahr" />
									</div>
								</div>
								<div class="form-group">
									<input th:field="*{benutzer.passwort}" type="password"
										placeholder="Passwort" class="form-control" />
								</div>
								<ul>
									<li th:each="geschlecht : ${geschlechter}">
									<input type="radio"
										th:field="*{benutzer.geschlecht}" th:value="${geschlecht}" name="sex"/>
										<label th:for="${geschlecht}"
										th:text="${geschlecht}" id="sex-color" class="radio-inline">Wireframe</label>
									</li>
								</ul>

<!--  
								<div>
									<label id="sex-color" class="radio-inline"><input
										type="radio" name="sex" />m&auml;nnlich</label> <label id="sex-color"
										class="radio-inline"><input type="radio" name="sex" />weiblich</label>
								</div>
								-->
								<button name="action" type="submit" value="Registrieren"
									class="btn">Registrieren</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Javascript -->
	<script src="resource/assets/js/jquery-1.11.1.min.js"></script>
	<script src="resource/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="resource/assets/js/jquery.backstretch.min.js"></script>
	<script src="resource/assets/js/scripts.js"></script>

	<!--[if lt IE 10]>
            <script src="resource/assets/js/placeholder.js"></script>
        <![endif]-->

</body>

</html>