<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Gruppe</title>

<!-- CSS -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
<link rel="stylesheet"
	href="resource/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="resource/assets/bootstrap/css/bootstrap.css" />
<link rel="stylesheet"
	href="resource/assets/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="resource/assets/css/form-elements.css" />
<link rel="stylesheet" href="resource/assets/css/style.css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="resource/assets/ico/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="resource/assets/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="resource/assets/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="resource/assets/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="resource/assets/ico/apple-touch-icon-57-precomposed.png" />


</head>
<body>

	<nav class="navbar navbar-default up-bar-color navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="new-navbar-brand" id="plp-color" href="home">PLP</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/home}">Profil</a></li>
					<li><a th:href="@{/freunde}">Freunde</a></li>
					<li><a th:href="@{/gruppen}">Gruppen</a></li>
					<li><a th:href="@{/benutzer}">Benutzerliste</a></li>
					<li><a th:href="@{/einstellungen}">Profileinstellungen</a></li>
					<li><a th:href="@{/gruppeErstellen}">Gruppe erstellen</a></li>
					<li><a th:href="@{/quest}">Quest machen</a></li>
					<li><a th:href="@{/teilaufgabeErstellen}">Teilaufgabe erstellen</a></li>
					<li><a th:href="@{/leaderboard}">Rangliste</a></li>
					<li><a th:href="@{/file}">Mediathek</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a th:href="@{/inbox}">Inbox</a></li>
					<li><a th:href="@{/logout}">Abmelden</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="container-mitliste">
		<div class="challenge-bar4">
			<div class="row">
				<div class="col-md-12">
					<h2>Mitgliederliste</h2>
					<table class="table">
						<tbody>
							<tr>
								<td><p>super123</p></td>
								<td><label class="btn btn-danger btn-xs">l&ouml;schen</label></td>
								<td><label class="btn btn-success btn-xs">herausfordern</label></td>
							</tr>
							<tr>
								<td><p>Benni</p></td>
								<td><label class="btn btn-danger btn-xs">l&ouml;schen</label></td>
								<td><label class="btn btn-success btn-xs">herausfordern</label></td>
							</tr>
							<tr>
								<td><p>TennisGigant</p></td>
								<td><label class="btn btn-danger btn-xs">l&ouml;schen</label></td>
								<td><label class="btn btn-success btn-xs">herausfordern</label></td>
							</tr>
							<tr>
								<td><p>KingLeo</p></td>
								<td><label class="btn btn-danger btn-xs">l&ouml;schen</label></td>
								<td><label class="btn btn-success btn-xs">herausfordern</label></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<label class="btn btn-success btn-lg">Fertig</label>



	<!-- Javascript -->
	<script src="resource/assets/js/jquery-1.11.1.min.js"></script>
	<script src="resource/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="resource/assets/js/jquery.backstretch.min.js"></script>
	<script src="resource/assets/js/scripts.js"></script>

	<!--[if lt IE 10]>
            <script src="resource/assets/js/placeholder.js"></script>
        <![endif]-->
</body>
</html>