<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Profileinstellungen</title>

<!-- CSS -->
<link rel="stylesheet"
	href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500" />
<link rel="stylesheet"
	href="resource/assets/bootstrap/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="resource/assets/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="resource/assets/css/form-elements.css" />
<link rel="stylesheet" href="resource/assets/css/style.css" />

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

<!-- Favicon and touch icons -->
<link rel="shortcut icon" href="resource/assets/ico/favicon.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144"
	href="resource/assets/ico/apple-touch-icon-144-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114"
	href="resource/assets/ico/apple-touch-icon-114-precomposed.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72"
	href="resource/assets/ico/apple-touch-icon-72-precomposed.png" />
<link rel="apple-touch-icon-precomposed"
	href="resource/assets/ico/apple-touch-icon-57-precomposed.png" />


</head>
<body class="new">
	<nav class="navbar navbar-default up-bar-color navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="new-navbar-brand" id="plp-color" href="LogIn">PLP</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">Profil <span class="badge">2</span></a></li>
					<li><a href="Freundesliste">Freunde</a></li>
					<li><a href="Gruppenliste">Gruppen</a></li>
					<li><a href="Benutzerliste">Benutzerliste</a></li>
					<li><a href="Profileinstellungen">Profileinstellungen</a></li>
					<li><a href="GruppeErstellen">Gruppe erstellen</a></li>
					<li><a href="Aufgabe">Quest machen</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="Inbox">Inbox <span class="badge">42</span></a></li>
					<li><a href="LogOut">Abmelden</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="top-content">
		<div class="inner-bg">
			<div class="container">
				<div class='setting-position3'>
					<div class='col-sm-6 col-sm-offset-3 form-box container-color'>
						<div class='col-md-12 form-group'>
							<div class="form-row">
								<h1>Benutzerinfo</h1>
								<h1>&auml;ndern</h1>
								<hr class="featurette-divider"></hr>
							</div>
						</div>
						<script src='https://js.stripe.com/v2/' type='text/javascript'></script>
						<form>
							<div style="margin: 0; padding: 0; display: inline">
								<input type="hidden" /><input type="hidden" /><input
									type="hidden" />
							</div>
							<div class='form-row'>
								<div class='col-xs-12 form-group required'>
									<label class='control-label'>Neuer Vorname:</label> <input
										class='form-control' size='4' type='text' />
								</div>
							</div>
							<div class='form-row'>
								<div class='col-xs-12 form-group card required'>
									<label class='control-label'>Neuer Nachname:</label> <input
										autocomplete='off' class='form-control card-number' size='20'
										type='text' />
								</div>
							</div>
							<div class='form-row'>
								<div class='col-xs-12 form-group card required'>
									<label class='control-label'>Neuer Benutzername:</label> <input
										autocomplete='off' class='form-control' size='20' type='text' />
								</div>
							</div>
							<div class='form-row'>
								<div class='col-xs-12 form-group card required'>
									<label class='control-label'>Neuer Studiengang:</label> <input
										autocomplete='off' class='form-control' size='20' type='text' />
								</div>
							</div>
							<div class='form-row'>
								<div class='col-xs-12 form-group card required'>
									<hr class="featurette-divider"></hr>
									<label class='control-label'>Passwort eingeben:</label> <input
										autocomplete='off' class='form-control' size='20'
										type='password' />
								</div>
							</div>
							<div class='form-row'>
								<div class='col-md-12 form-group'>
									<button class='form-control btn btn-primary submit-button'
										type='button'>Aktualisieren</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class='setting-position4'>
					<div class='col-sm-6 col-sm-offset-3 form-box container-color'>
						<div class='col-md-12 form-group'>
							<div class="form-row">
								<h1>Passwort &auml;ndern</h1>
								<hr class="featurette-divider"></hr>
							</div>
						</div>
						<script src='https://js.stripe.com/v2/' type='text/javascript'></script>
						<form>
							<div style="margin: 0; padding: 0; display: inline">
								<input type="hidden" /><input type="hidden" /><input
									type="hidden" />
							</div>
							<div class='form-row'>
								<div class='col-xs-12 form-group required'>
									<label class='control-label'>Aktuelles Passwort:</label> <input
										class='form-control' size='4' type='password' />
								</div>
							</div>
							<div class='form-row'>
								<div class='col-xs-12 form-group card required'>
									<label class='control-label'>Neues Passwort:</label> <input
										autocomplete='off' class='form-control card-number' size='20'
										type='password' />
								</div>
							</div>
							<div class='form-row'>
								<div class='col-xs-12 form-group card required'>
									<label class='control-label'>Neues Passwort
										wiederholen:</label> <input autocomplete='off' class='form-control'
										size='20' type='password' />
								</div>
							</div>
							<div class='form-row'>
								<div class='col-md-12 form-group'>
									<hr class="featurette-divider"></hr>
									<button class='form-control btn btn-primary submit-button'
										type='button'>Aktualisieren</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Javascript -->
	<script src="resource/assets/js/jquery-1.11.1.min.js"></script>
	<script src="resource/assets/bootstrap/js/bootstrap.min.js"></script>
	<script src="resource/assets/js/jquery.backstretch.min.js"></script>
	<script src="resource/assets/js/scripts.js"></script>

	<!--[if lt IE 10]>
            <script src="resource/assets/js/placeholder.js"></script>
        <![endif]-->
</body>
</html>