body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: center;
}

strong {
	font-weight: 500;
}

a, a:hover, a:focus {
	color: #4aaf51;
	text-decoration: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #555;
	line-height: 50px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #555;
	line-height: 30px;
}

img {
	max-width: 100%;
}

::-moz-selection {
	background: #4aaf51;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #4aaf51;
	color: #fff;
	text-shadow: none;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #4aaf51;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
}

.btn-link-1.btn-link-1-facebook {
	background: #4862a3;
}

.btn-link-1.btn-link-1-twitter {
	background: #55acee;
}

.btn-link-1.btn-link-1-google-plus {
	background: #dd4b39;
}

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus
	{
	outline: 0;
	opacity: 0.6;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
}

/***** Top content *****/
.inner-bg {
	padding: 100px 0 170px 0;
}

.top-content .text {
	color: #fff;
}

.top-content .text h1 {
	color: #fff;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p {
	opacity: 0.8;
}

.top-content .description a {
	color: #fff;
}

.top-content .description a:hover, .top-content .description a:focus {
	border-bottom: 1px dotted #fff;
}

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #fff;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 {
	margin-top: 0;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #4aaf51;
}

.social-login {
	margin-top: 35px;
}

.social-login h3 {
	color: #fff;
}

.social-login-buttons {
	margin-top: 25px;
}

/***** Media queries *****/
@media ( min-width : 992px) and (max-width: 1199px) {
}

@media ( min-width : 768px) and (max-width: 991px) {
}

@media ( max-width : 767px) {
	.inner-bg {
		padding: 60px 0 110px 0;
	}
}

@media ( max-width : 415px) {
	h1, h2 {
		font-size: 32px;
	}
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Content */
.content {
	padding-top: 30px;
}

/* Testimonials */
.testimonials blockquote {
	background: #f8f8f8 none repeat scroll 0 0;
	border: medium none;
	color: #666;
	display: block;
	font-size: 14px;
	line-height: 20px;
	padding: 15px;
	position: relative;
}

.testimonials blockquote::before {
	width: 0;
	height: 0;
	right: 0;
	bottom: 0;
	content: " ";
	display: block;
	position: absolute;
	border-bottom: 20px solid #fff;
	border-right: 0 solid transparent;
	border-left: 15px solid transparent;
	border-left-style: inset; /*FF fixes*/
	border-bottom-style: inset; /*FF fixes*/
}

.testimonials blockquote::after {
	width: 0;
	height: 0;
	right: 0;
	bottom: 0;
	content: " ";
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 20px 20px 0 0;
	border-color: transparent transparent transparent;
}

.testimonials .carousel-info img {
	border: 1px solid #f5f5f5;
	border-radius: 150px !important;
	height: 75px;
	padding: 3px;
	width: 75px;
}

.testimonials .carousel-info {
	overflow: hidden;
}

.testimonials .carousel-info img {
	margin-right: 15px;
}

.testimonials .carousel-info span {
	display: block;
}

.testimonials span.testimonials-name {
	color: black;
	font-size: 16px;
	font-weight: 300;
	margin: 23px 0 7px;
}

.testimonials span.testimonials-post {
	color: #656565;
	font-size: 12px;
}

.LogIn-Position {
	margin: 0px 500px 0px -500px;
}

.Register-Position {
	margin: 0px -500px 0px 500px;
}

#h3-color-1stpage {
	color: white;
}

#sex-color {
	color: black;
}

.profile-bar {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.up-bar {
	background-color: #f5f5f5;
	width: 100%;
	height: 50px;
}

.up-bar-color {
	background-color: #f5f5f5;
}

.name-color {
	margin-left: 30px;
	color: #58ACFA;
}

.font-weight1 {
	font-weight: normal;
}

.img-avatar {
	border-radius: 50%;
	width: 150px;
}

.profile-left {
	text-align: left;
	margin-left: 30px;
}

.profile-right {
	text-align: right;
	margin-right: 30px;
}

.upbar-position {
	display: inline-block;
}

.row-padding {
	margin-top: 25px;
	margin-bottom: 25px;
}

.table-position1 {
	width: 100%;
	margin-top: 70px;
}

.table-position2 {
	width: 100%;
	margin-top: 70px;
}

.table-itself {
	margin-top: 30px;
}

.thead-verschieben {
	position: relative;
	margin-left: 50px;
}

.thead-color {
	color: white;
	text-align: center;
}

.-new-container {
	float: right;
	margin-right: 30px;
}

.message-size {
	width: 200px;
	height: 500px;
	border: 1px solid #999999;
	padding: 5px;
	margin-top: 50px;
}

#plp-color {
	color: #58ACFA;
}

.container-color {
	background-color: #f5f5f5;
}

.new-navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 22px;
	line-height: 20px;
}

#next-bound {
	display: inline-block;
}

.new-left {
	text-align: left;
}

.new-center {
	text-align: center;
}

.new-right {
	text-align: right;
}

.table-post {
	position: relative;
}

.centerTable {
	margin: 0px auto;
}

.jumbotron-flat {
	background-color: solid #4DB8FFF;
	height: 100%;
	border: 1px solid #4DB8FF;
	background: white;
	width: 100%;
	text-align: center;
	overflow: auto;
}

.block-profile {
	display: block;
}

.setting-position1 {
	margin: 0px 250px 0px -250px;
	position: fixed;
}

.setting-position2 {
	position: relative;
	margin: 0px -300px 0px 300px;
}

.table-width {
	width: 200px;
	border: none;
}

.profile-display {
	display: inline-block;
}

.profile-width {
	width: 600px;
}

.profile-position {
	margin-left: -65.625em;
	display: inline-block;
}

.pinnwand-position {
	margin-top: 38px;
}

.comment-size {
	width: 400px;
	height: 600px;
}

.profileset-position {
	margin-top: -30px;
}

.setting-position3 {
	margin: -30px 200px 0px -200px;
	width: 800px;
}

.setting-position4 {
	margin: -30px -700px 0px 500px;
	width: 800px;
}

.new {
	overflow: hidden;
}

.group-panel-size {
	position: fixed;
	margin-left: -220px;
	width: 670px;
	height: 700px;
	background-color: #f5f5f5;
	margin-top: 150px;
}

.setting-panel {
	position: relative;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.table a {
	display: block;
	text-decoration: none;
}

.new-progress {
	display: inline-block;
	position: relative;
	width: 600px;
	height: 20px;
	margin-top: 0px;
	margin-left: 25px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.bar-position {
	margin-top: 10px;
	margin-left: 1200px;
	margin-right: -600px;
}

.bar-top {
	margin-top: 20px;
}

.new-innner-bg {
	padding: 0px 0 170px 0;
}

.group-pinn-position {
	position: relative;
	margin: 150px -420px 0px 420px;
}

.hor-body {
	max-width: 100%;
	overflow-x: hidden;
}

.input-size {
	width: 463px;
}

.button-pos {
	position: relative;
	margin-left: 17px;
	margin-top: 0px;
	border-collapse: collapse;
}

#delete-but {
	position: relative;
	margin-left: 25px;
	margin-top: 150px;
}

.pinnwand-space {
	margin: 20px -185px 0px 185px;
}

.pinnwand-space-ers {
	margin: 20px -185px 0px 185px;
}

.comment-space {
	margin-top: 10px;
}

.fort-pos {
	position: relative;
	margin-top: 20px;
	margin-left: 25px;
}

.name-pos {
	position: relative;
	margin-left: 25px;
}

.challenge-bar {
	height: 220px;
	min-height: 20px;
	padding: 19px;
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}



.challenge-but {
	margin-top: 70px;
}

.challenge-lb1 {
	position: relative;
	margin-left: -30px;
}

.challenge-lb2 {
	position: relative;
	margin-right: -30px;
}

.challenge-txt {
	position: relative;
	margin-top: 50px;
}

.subject-pos {
	position: relative;
	margin-top: 15px;
	font-size: 25px;
	font-weight: lighter;
	color: #000000;
	margin-left: 25px;
}

.new-group {
	text-align: left;
}

.form-pos {
	margin: 0px -290px 0px 290px;
}

.container-quiz {
	padding-right: 600px;
	padding-left: 600px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}

.sub-pos {
	margin-top: 30px;
}

.comment-size {
	margin-left: 100px;
}

.img-size {
	width: 50px;
}

.img-size1 {
	width: 65px;
}

.img-size2 {
	width: 80px;
}

.container-com {
	margin-top: 10px;
	margin-left: 173px;
	margin-right: -410px;
}

.challenge-bar1 {
	height: 420px;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.right-pos {
	margin-top: 10px;
}

.title-pos {
	margin-bottom: 20px;
}

.carousel-control1-right {
	top: 90px;
	right: 20px;
}

.carousel-control1-left {
	top: 90px;
	left: 20px;
}

.ert-pos {
	right: 10px;
}

.container-ert {
	padding-right: 650px;
	padding-left: 650px;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
}

.challenge-bar2 {
	height: 250px;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.container-mit {
	padding-right: 800px;
	padding-left: 800px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

.challenge-bar3 {
	height: 670px;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.container-gest {
	padding-right: 300px;
	padding-left: 300px;
	margin-top: 85px;
	margin-right: auto;
	margin-left: auto;
}

.container-mitliste {
	padding-right: 800px;
	padding-left: 800px;
	margin-top: 85px;
	margin-right: auto;
	margin-left: auto;
}

.challenge-bar4 {
	height: 700px;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.hr-color { 
	  width: 100%; 
	  height: 5px; 
      margin: 0 auto;
	  background: #D3D3D3;
    }
    
.comment-fontsz {
	font-size: 17px;
}

.challenge-bar10 {
	height: 420px;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

#bwarning {
	color: #fff;
  	background-color: #f0ad4e;
  	border-color: #eea236;
}

.challenge-bar11 {
	height: 180px;
	min-height: 20px;
	padding: 19px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.challenge-bar12 {
	height: 100px;
	min-height: 20px;
	padding: 19px;
	margin-top: 30px;
	margin-bottom: 10px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.table-med {
	margin-top: 10px;
}